#contactus
{
    /* margin: 0rem 45rem 0rem 0rem; */
}
.mainheading
{
   display:flex;
   gap: 5rem;
   margin: 4rem 0rem 12rem 0rem;
    /* grid-template-columns: 50rem auto; */ 
    /* text-align: center; */
    /* justify-content: center; */
}
.maintext2
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem 0rem 0rem 0rem;
}
.maintext2 h1
{
    font-size: 60px;
}
.maintext2 h2
{
    color: rgba(107, 218, 138, 0.898);
    font-size: 80px;
}
.maintext2 i
{
    font-size: 80px;
    width: 7rem;
    margin-left: 10px;
}
.text
{
    font-size: 20px;
    width: 35rem;
    height: 15rem;
    padding : 0.5rem;
    margin: 3rem 0rem 0rem 3rem;
    border-radius: 10px;
    background-color: rgb(242, 244, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text h1
{
    font-size: 70px;
    padding: 0;
    margin: 0;
    color: rgba(107, 218, 138, 0.898);
}
.text h1 i
{
    margin-right: 2rem;
}
.text h2
{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.imgtext
{
    display: flex;
    width:100%;
   padding:10px 15px 15px 15px;
}
.text2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 28px;
}
.slidesimg
{
    width: 40rem;
    height: 25rem;
    border-radius: 15px;
}
.carousel0
{
    border-radius: 15px;
}
.containerA0
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subheading1
{
    margin-top: 6rem;
    padding: 4.5rem;
}
.subheading1 h1
{
    font-size: 80px;
}
.subheading1 h2
{
    font-size: 60px;
    color: rgba(107, 218, 138, 0.898);
}
.containerA
{
    padding: 3.5rem;
     width: 100%;
}
.containerA1
{
    border-radius: 15px;
    margin: 1.5rem;
    background-color: rgb(242, 244, 242);
    box-shadow: 2px 2px 2px .5px;
    display:flex;
    /* display: grid;
    grid-template-columns: 50rem auto; */
    width: 100%;
    background: url('assets/labour\ img7.jpeg') no-repeat right/contain;
}
.textA1
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-items: center;
}
.textbox
{
    width: 20rem;
    height: 15rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.776);
    margin: 1rem;
    padding: 10px;
}
.textbox h1
{
    color: rgba(107, 218, 138, 0.898);
}
.textbox p
{
    padding-top: 0rem;
}
.containerA2
{
    border-radius: 15px;
    margin: 1.5rem;
    display:flex;
    width: 100%;
}
.containerA2-1
{
    border-radius: 15px;
    margin-right: 1.5rem;
    background-color: rgb(242, 244, 242);
    box-shadow: 2px 2px 2px .5px;
    display: flex;
   
    background: url('assets/labour\ img8.jpeg') no-repeat bottom/contain;
    background-size: 27rem;
}
.subheading2
{
    padding: 2rem;
}
.catagories
{
    padding: 2rem;
}
.catagories ul
{
    list-style: disc;
    font-size: 20px;
}
.containerA2-2
{
    border-radius: 15px;
    margin-left: 1.5rem;
    background-color: rgb(242, 244, 242);
    box-shadow: 2px 2px 2px .5px;
    background: url('assets/join_us-removebg-preview.png') no-repeat top/contain;
    background-size: 21
    rem;
}
.subheading3
{
    padding: 2rem;
}
.containerA :hover
{
    transition: all .7s;
    transform: scale(1.03);
}

/* for containerB */
.containerB0
{
    display: flex;
    flex-direction: column;
}
.headingB0
{
    margin-top: .5rem;
    padding: 4.5rem;
    margin-bottom: 4rem;
}
.headingB0 h1
{
    font-size: 60px;
}
.headingB0 h2
{
    font-size: 70px;
    color: rgba(107, 218, 138, 0.898);
}
.containerB1
{
    display: flex;
    border-radius: 15px;
    margin: 1.5rem;
    background-color: rgb(242, 244, 242);
    box-shadow: 2px 2px 2px .5px;
    background: url('assets/labour\ img9.png') no-repeat right/contain rgb(207, 243, 239);
    /* padding: 1rem; */
    margin: 0rem 5rem 0rem 5rem;
}
.containerB1-1
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-items: center;
}
.containerB1-1 .textbox
{
    background-color: rgba(255, 255, 255, 0.554);
}
.containerB0  .containerB1:hover
{
    transition: all .7s;
    transform: scale(1.03);
}
.containerB1 :hover
{
    transition: all .7s;
    transform: scale(1.03);
}
@media (max-width: 350px) {
    .img
    {
        width: 50%;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .text2
    {
        font-size: 10px;
    }
    .slidesimg
    {
        width: 15rem;
        height: 10rem;
       
    }
    .mainheading{
        gap: 0rem;
       
    }
    .text{
        padding: 0.5rem 0.5rem
       
    }
    .text h1{
        font-size:30px;
    }
    .text h2{
        font-size:20px;
    }
    .maintext2 h2{
        font-size:30px;
    }
    .maintext2 h1{
        font-size:20px;
    }
    .subheading3{
        padding: 10px 3px 0px 10px;  
       
    }
    .subheading1 h1
    {
        font-size: 30px;
    }
    .subheading1 h2
    {
        font-size: 20px;
    }
    .containerA1
    {
        margin: 0.5rem;
    }
    .containerA2
    {
        border-radius: 15px;
        margin: 1.5rem;
        display:flex;
        space-between:0px;
        width: 100%;
    }
    .containerA2
    {
        margin: 0.5rem;
    }
    .containerA2-2
    {
        border-radius: 15px;
        /* margin-left: 1.5rem; */
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        background: url('assets/join_us-removebg-preview.png') no-repeat top/contain;
       
    }
    .textbox
    {
        width: 7rem;
        height: 6rem;
        font-size: 8px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 0.2rem;
        padding: 0px;
    }
    
    .textbox h1{
        font-size: 10px;
        padding:1px;
        margin: 3px;
    }
    .containerA{
        padding: 1rem;
    }
    .containerB1
    {
        display: flex;
        width: 80%;
        border-radius: 15px;
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        background: url('assets/labour\ img9.png') no-repeat right/contain rgb(207, 243, 239);
        /* padding: 1rem; */
        margin: 0rem 1rem 0rem 2rem;
    }
    .containerB1-1{
        padding:10px;
        height:15rem;
    }
    .headingB0 h1
    {
        font-size: 30px;
    }
    .headingB0 h2
    {
        font-size: 30px;
        color: rgba(107, 218, 138, 0.898);
    }
    .headingB0
    {
        margin-top: .25rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .subheading2 h1{
        font-size:18px;
        /* background-color: red; */
    }

    .catagories
    {
          padding: 0px 0px 0px 0px;
           margin-top:50px;
    }
    .catagories ul
    {
              
        padding-left:20px;
        padding-right:2px;
    }
    .catagories li{
        font-size: 8px;
        padding: 0px;
    }
    .subheading2{
        padding :2px;
    }
    .subheading3 h1{
        font-size: 18px;
    }
    .subheading3 h4{
        font-size: 10px;
    }
    .containerA2-1
    {
        border-radius: 15px;
        margin:5px;
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        display: flex;
        background: url('assets/labour\ img8.jpeg') no-repeat bottom/contain;
       
        
       
    }
    
  }
  @media (min-width: 350px) and (max-width: 599.98px) {
    .img
    {
        width: 50%;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .text2
    {
        font-size: 10px;
    }
    .slidesimg
    {
        width: 15rem;
        height: 10rem;
       
    }
    .mainheading{
        gap: 0rem;
       
    }
    .text{
        padding: 0.5rem 0.5rem
       
    }
    .text h1{
        font-size:30px;
    }
    .text h2{
        font-size:20px;
    }
    .maintext2 h2{
        font-size:30px;
    }
    .maintext2 h1{
        font-size:20px;
    }
    .subheading3{
        padding: 10px 3px 0px 10px;  
       
    }
    .subheading1 h1
    {
        font-size: 30px;
    }
    .subheading1 h2
    {
        font-size: 20px;
    }
    .containerA1
    {
        margin: 0.5rem;
    }
    .containerA2
    {
        border-radius: 15px;
        margin: 1.5rem;
        display:flex;
        space-between:0px;
        width: 100%;
    }
    .containerA2
    {
        margin: 0.5rem;
    }
    .containerA2-2
    {
        border-radius: 15px;
        /* margin-left: 1.5rem; */
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        background: url('assets/join_us-removebg-preview.png') no-repeat top/contain;
        background-size: 7rem;
    }
    .textbox
    {
        width: 8rem;
        height: 6rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        font-size:8px;
        margin: 0.2rem;
        padding: 0px;
    }
    .textbox h1{
        font-size: 15px;
    }
    .containerA{
        padding: 1rem;
    }
    .containerB1
    {
        display: flex;
        border-radius: 15px;
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        background: url('assets/labour\ img9.png') no-repeat right/contain rgb(207, 243, 239);
        /* padding: 1rem; */
        margin: 0rem 1rem 0rem 2rem;
    }
    .containerB1-1{
        padding:10px;
        height:15rem;
    }
    .headingB0 h1
    {
        font-size: 30px;
    }
    .headingB0 h2
    {
        font-size: 30px;
        color: rgba(107, 218, 138, 0.898);
    }
    .headingB0
    {
        margin-top: .25rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .subheading2 h1{
        font-size:18px;
        /* background-color: red; */
    }
    .catagories
    {
        padding: .5rem;
        margin-top:50px;
    }
    .catagories li{
        font-size: 10px;
        padding: 0px;
    }
    .subheading2{
        padding :.5rem;
    }
    .subheading3 h1{
        font-size: 18px;
    }
    .subheading3 h4{
        font-size: 10px;
    }
    .containerA2-1
    {
        border-radius: 15px;
        margin:5px;
        background-color: rgb(242, 244, 242);
        box-shadow: 2px 2px 2px .5px;
        display: flex;
        background: url('assets/labour\ img8.jpeg') no-repeat bottom/contain;
      
    }
    
  }
  @media (min-width: 600px) and (max-width: 767.98px) {
    .img
    {
        width: 50%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .text2
    {
        font-size: 15px;
    }
    .slidesimg
    {
        width: 20rem;
        height: 15rem;
       
    }
    .subheading1 h1 {
        font-size: 50px;
    }

    .subheading1 h2 {
        font-size: 30px;
    }
    .text h1 {
        font-size: 40px;
    }

    .text h2 {
        font-size: 20px;
    }

    .maintext2 h2 {
        font-size: 40px;
    }

    .maintext2 h1 {
        font-size: 25px;
    }
    .textbox
    {
        width: 12rem;
        height: 8rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 1rem;
        font-size:10px;
        padding: 5px;
    }
    .textbox h1{
        font-size: 18px;
    }
    .subheading2 h1{
        font-size:22px;
        /* background-color: red; */
    }
    .catagories li{
        font-size: 12px;
    }
    .subheading3 h1{
        font-size: 22px;
    }
    .subheading3 h4{
        font-size: 10px;
    }
    .headingB0 h1
    {
        font-size: 35px;
    }
    .headingB0 h2
    {
        font-size: 50px;
        color: rgba(107, 218, 138, 0.898);
    }
}

  @media (min-width: 768px) and (max-width: 991.98px) {
    .img
    {
        width: 50%;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .subheading1 h1
    {
        font-size: 60px;
    }
    .subheading1 h2
    {
        font-size: 40px; 
    }
    .text h1 {
        font-size: 50px; 
    }
    .text h2{
        font-size: 24px;
    }
    .maintext2 h2{
        font-size:60px;
    }
    .maintext2 h1{
        font-size:40px;
    }
    .text2
    {
        font-size: 16px;
    }
    .slidesimg
    {
        width: 25rem;
        height: 15rem;
       
    }
    .textbox
    {
        width: 15rem;
        height: 10rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 1rem;
        font-size:12px;
        padding: 10px;
    }
    .textbox h1{
        font-size: 25px;
    }
    .subheading2 h1{
        font-size:25px;
        /* background-color: red; */
    }
    .catagories li{
        font-size: 15px;
    }
    .subheading3 h1{
        font-size: 25px;
    }
    .subheading3 h4{
        font-size: 14px;
    }
    .headingB0 h1
    {
        font-size: 50px;
    }
    .headingB0 h2
    {
        font-size: 60px;
        color: rgba(107, 218, 138, 0.898);
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .subheading1 h1
    {
        font-size: 60px;
    }
    .subheading1 h2
    {
        font-size: 40px;
    }
    .text h1{
        font-size: 50px;  
    }
    .text2
    {
        font-size: 20px;
    }
    .slidesimg
    {
        width: 30rem;
        height: 20rem;
       
    }
    .img
    {
        width: 50%;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .textbox
    {
        width: 20rem;
        height: 15rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 1rem;
        padding: 10px;
    }

  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .subheading1 h1
    {
        font-size: 80px;
    }
    .subheading1 h2
    {
        font-size: 60px;
    }
    .img
    {
        width: 50%;
        margin-left: 3rem;
        margin-right: 5rem;
    }
    .textbox
    {
        width: 20rem;
        height: 15rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 1rem;
        padding: 10px;
    }
  }
  

  @media (min-width: 1400px) {
    .subheading1 h1
    {
        font-size: 80px;
    }
    .subheading1 h2
    {
        font-size: 60px;
    }
    .img
    {
        width: 50%;
        margin-left: 3rem;
        margin-right: 5rem;
    }
    .textbox
    {
        width: 20rem;
        height: 15rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.776);
        margin: 1rem;
        padding: 10px;
    }
  }

