body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f6f9; */
    color: #333;
}


.job-banner {
    background-color: #53ce72;
    color: white;
    padding: 50px 20px;
    display: flex;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    height: 25rem;
    border-radius: 10px;
    margin: .5rem 2rem 2rem 2rem;
}

.job-banner h1 {
    font-size: 2.5em;
    margin: 0;
}

.job-banner h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.job-banner p {
    font-size: 1em;
    margin: 20px 0;
}

.job-banner .buttons {
    margin-top: 20px;
}

.job-banner .buttons button {
    background-color: white;
    color: #28b951;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.job-banner .buttons button:hover {
    background-color: #e3f2fd;
}

#apply-job-btn {
    background-color: #2ce460;
    color: white;
}

#apply-job-btn:hover {
    background-color: #00ff48;
    color: white;
}

.job-details {
    background-color: white;
    padding: 50px 20px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.role-description {
    margin-bottom: 30px;
}

.role-description h3,
.skills h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #28b951;
}

.role-card {
    background-color: #f4f6f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.role-info h4 {
    font-size: 1.3em;
    color: #333;
    margin: 0 0 10px;
}

.role-info p {
    margin: 10px 0;
    color: #666;
}

.skills {
    background-color: #f4f6f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills h3 {
    color: #28b951;
    margin-bottom: 20px;
}

.skills span {
    display: inline-block;
    background-color: #d2fdda;
    color: #333;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.apply {
    display: flex;
    flex-direction: column;
}

.apply .apply-job {
    background-color: #28b951;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.apply .apply-job:hover {
    background-color: #279d48;
}

.share-buttons button {
    background-color: #f4f6f9;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    /* transition: background-color 0.3s; */
}


.tasks-card {
    background-color: #f4f6f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}