body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

header {
    /* background-color: #0e7e32; */
    color: #495057;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 3rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.card button {
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.card button:hover {
    background-color: #218838;
}



/* Dark mode */

/* Default light mode colors */
:root {
    --background-color: rgb(240, 234, 234);
    --text-color: black;
    --header-bg: lightgray;
  }
  
  h2{
    color: var(--text-color);
  }
  /* Dark mode colors */
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #f1f1f1;
    --header-bg: #1c1c1c;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  header {
    background-color: var(--header-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  
  #mode-label {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  /* Toggle Switch */
  .theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    top: 3px;
    left: 4px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /*---------------------*/
  