.maincontainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    flex-direction: column;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 30rem;
    height: 36rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input0{
    width: 17rem;
    height: 45px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding-left: 10px;
    outline: none;
    border: none;
}
.input
{
    outline: none;
    border: none;
    width: 235px;
    height: 35px;
    padding-left: 5px;
    margin: 5px;
    background-color: rgb(245, 245, 245);
}
.signupbtn
{
    background-color: rgb(63, 234, 111);
    color: white;
    width: 17rem;
    height: 45px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    outline: none;
}
.signupbtn:hover
{
    background-color: rgb(52 193 91);
    color: white;
    transition: all .3s;
}
.signupbtn:active
{
    background-color: rgb(52 193 91);
    transform: scale(.95);
    color: white;
}
.warning
{
    /* border: 2px solid black; */
    width: 17rem;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.container1 {
    width: 21rem;
    height: 385px;
    border-radius: 20px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(143, 181, 161); */
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px;
}
@media (max-width:350px){
    .container {
        display: grid;
        grid-template-rows: repeat(2, auto);
       width: 95%;
       min-height: 100vh;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .container1 {
        width: 18rem;
        height: 320px;
        border-radius: 20px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(143, 181, 161); */
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px;
    }
    .input0{
        width: 14rem;
        height: 40px;
        border-radius: 10px;
        margin: 3px 3px 3px 25px;
        display: flex;
        align-items: center;
        background-color: rgb(245, 245, 245);
        padding-left: 8px;
        outline: none;
        border: none;
    }
    .input
    {
        outline: none;
        border: none;
        width: 220px;
        height: 30px;
        padding-left: 3px;
        margin: 3px;
        background-color: rgb(245, 245, 245);
    }
    .signupbtn
    {
        background-color: rgb(63, 234, 111);
        color: white;
        width: 13rem;
        height: 40px;
        border-radius: 10px;
        margin: 3px 3px 3px 25px;
        border: none;
        outline: none;
    }
}
@media (max-width:600px) and (min-width:350px) {
    .container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        width: 20rem;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .container1 {
        width: 18rem;
        height: 320px;
        border-radius: 20px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(143, 181, 161); */
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px;
    }
    .input0{
        width: 14rem;
        height: 40px;
        border-radius: 10px;
        margin: 3px 3px 3px 25px;
        display: flex;
        align-items: center;
        background-color: rgb(245, 245, 245);
        padding-left: 8px;
        outline: none;
        border: none;
    }
    .input
    {
        outline: none;
        border: none;
        width: 220px;
        height: 30px;
        padding-left: 3px;
        margin: 3px;
        background-color: rgb(245, 245, 245);
    }
    .signupbtn
    {
        background-color: rgb(63, 234, 111);
        color: white;
        width: 13rem;
        height: 40px;
        border-radius: 10px;
        margin: 3px 3px 3px 25px;
        border: none;
        outline: none;
    }
}