body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

header {
    background-color: #0073b1;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.invitations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.invitation-card {
    border: 1px solid #137428;
    border-radius: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.invitation-card img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.details {
    text-align: center;
    margin-bottom: 15px;
}

.rating {
    color: #FFD700; /* Gold color for star */
}

.actions {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.accept {
    background-color: #177a36;
    color: white;
}

button.ignore {
    background-color: #f3f3f3;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(29, 121, 34);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .invitation-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .invitation-card {
        width: calc(100% - 20px);
    }
}
